<!DOCTYPE html>
<html>
  <head>
    <title>RailsFirstApp819</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# THIS IS THE GLOBAL LAYOUT OF YOUR APP %>
  <%# HERE YOU WILL ADD HTML ELEMENTS YOU WISH TO APPEAR IN ALL PAGES%>
  <%# JUST LIKE THIS NAVBAR %>
    <nav>
      <ul>
        <li><%= link_to "Homepage", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
    <%= yield %>
    <footer style="border-top: 1px solid black;">
      <p>This is a very simple footer!</p>
    </footer>
  </body>
</html>
